div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

body {
  background-image: url("images/projectbackgroundchalk.jpg");
  background-size: cover;
  background-position: center;
  height:100vh;

}