.recipe-img {
    max-height: 250px;
    max-width: 250px;
}

.profile-title {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tab-title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
}

.view-button {
    width: 60px;
    height: 27px;
    line-height: 17px;
}

.account-title {
 font-weight: 500;
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 35px;
}

.my-label {
   margin-right: 0px;
}