p {
    margin-left: 0;
}

.recipe-description {
    font-style: italic;
    font-size: 1.25rem;
}

.recipe-specs {
    font-size: 1.25rem;
}

.recipe-text {
    padding-top:35px;
}

.prep-notes {
   font-style: italic;
   opacity: 0.70;
}