<!DOCTYPE html>
<html>lang="en" xmlns:th="http://www.thymeleaf.org/"</html>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<head Add New Recipes Here"></head>
<body class="container body-content">

<div class="form-popup" id="myForm">
    <form action=""/>action_page.php"
    class="form-container">
    <h1>Add Recipe</h1>


    <label for="Ingredients">Name</label>
    <input type="text"
           placeholder="Ingredients"
           name="Ingredients" required>
    <label for="Ingredients">Name</label>
    <input type="text"
           placeholder="Ingredients"
           name="Ingredients" required>

    <label for="Ingredients">Name</label>
    <input type="text"
           placeholder="Ingredients"
           name="Ingredients" required>

    <label for="Directions">Name</label>
    <input type="text"
           placeholder="Directions"
           name="Directions" required>

    <button type="submit"
            class="btn">Add Recipe</button>
    <button type="button" class="btn cancel"
            onclick="closeForm()">Close</button>

    </form>
</div>

</body>