<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/recipeCard.css}" rel="stylesheet" />
<div th:replace="fragments :: page-header"></div>

<form method="post">
    <div class="form-group">
        <label for="url">Put Link Here:</label><br>
        <input type="text" id="url" name="url" value="Right here buddy"><br>
        <button type="submit"></button>
    </div>
</form>
</body>
</html>