<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/recipeCard.css}" rel="stylesheet" />
<div th:replace="fragments :: page-header"></div>

<form method="post">
    <div class="form-group" align="center" padding = "30px">
        <label for="url">Please enter a link to the recipe you'd like to add:</label><br><br>
        <input type="text" id="url" name="url" padding = 10px><br><br>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>