<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form id = recipeFullForm action="addRecipe">
<form id = "recBasic" action="#" th:action="@{/addRec}" th:object="${addRec}" method="post">
    <p>Recipe Name: <input type="text" name = "recName"/></p>


   <p>Recipe Description: <textarea id="recDesc" name="recDesc" rows="4" cols="50"></p>
  Crispy skinned chicken roasted to perfection, never dry!
  </textarea>

</form>
<form id = "ingredientRow" action="#" th:action="@{/addIngredient}" th:object="${ingredient}" method="post">

    <input type="text"  name = "ingredientQuan" id = "ingredientQuan"/>
    <input type="text"  name = "ingredientMeas" id = "ingredientMeas"/>
    <input type="text"  name = "ingredientName" id = "ingredientName"/>
    <input type="text" name = "ingredientNote" id = "ingredientNote"/>
    <input type="submit" value="Submit Ingredient">
</form>
//another form down here for recipe steps
<form id = stepRow" action="#" th:action="@{/addStep}" th:object="${step}" method="post">
    <input type="text" th:field="*{stepNumber}" id = "stepNumber"/>
    <input type="text" th:field="*{stepDescription}" id = "stepDescription"/>

    <input type="submit" value="Submit Step">
</form>
//two tables one with ingredients already added, another with steps
//popup message to confirm recipe before final submit
<input type="submit" value="All Done!">
    </form>

</body>
</html>