<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link th:href="@{/css/recipes.css}" rel="stylesheet" />

    <title>Recipe Project</title>
</head>

<body>

<div th:fragment="page-header">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">

        <div class="container-fluid" style="margin-left: 2px;">
            <div class="navbar-brand">Recipe Group Project</div>
            <div id="navbarNav">
                <ul class="nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link active link-dark" aria-current="page" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" th:href="@{/register}">Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark" th:href="@{/logout}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/profile}">
                            <img class="profile-img" src="https://img.icons8.com/external-becris-flat-becris/64/000000/external-user-avatars-becris-flat-becris.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>
</html>