<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div class="container body-content title">
        <h2>Recipe Project</h2>
    </div>

    <div th:replace="fragments :: search"></div>

    <!-- filters -->
    <div class="container body-content subtitle">
        <h4>Featured Recipes</h4>
    </div>
    <th:block th:each="recipe : ${featuredRecipes}">
        <div class="recipe-listing" th:if="${recipe}">
            <p>
                <a th:href="@{'/view/' + ${recipe.id}}" th:text="${recipe.name}"></a>
            </p>
        </div>
    </th:block></div>

<footer>
    <!-- line breaks to bring footer to bottom; take out when page is filled in with content -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="https://icons8.com/icon/59878/search">Search icon by Icons8</a>
</footer>

</body>
</html>