<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/recipeCard.css}" rel="stylesheet" />
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <div th:replace="fragments :: search"></div>

    <!-- filters -->

    <!-- featured recipes -->

    <div th:if="${!(recipes.isEmpty())}">
        <div class="container body-content subtitle">
            <h5 style="text-align:center; font-weight:bold; padding-bottom:12px">Featured Recipes</h5>
        </div>
        <div th:replace="fragments :: recipe-cards"></div>
    </div>



</body>
</html>