<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <div th:replace="fragments :: page-header"></div>
</head>
<body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<link th:href="@{/css/profile.css}" rel="stylesheet" />


    <div class="profile-title">
        My Profile
    </div>
<div class="container">
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active link-dark" id="nav-favorites-tab" data-bs-toggle="tab" data-bs-target="#nav-favorites" type="button" role="tab" aria-controls="nav-favorites" aria-selected="true">Favorites</button>
        <button class="nav-link link-dark" id="nav-recipes-tab" data-bs-toggle="tab" data-bs-target="#nav-recipes" type="button" role="tab" aria-controls="nav-recipes" aria-selected="false">My Recipes</button>
        <button class="nav-link link-dark" id="nav-account-tab" data-bs-toggle="tab" data-bs-target="#nav-account" type="button" role="tab" aria-controls="nav-account" aria-selected="false">Account</button>
        <button class="nav-link link-dark" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">Settings</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-favorites" role="tabpanel" aria-labelledby="nav-favorites-tab">
        <div class="tab-title">
            My Favorite Recipes
        </div>
        <table class="table table-striped table-hover mt-3" style="width: 70vw;">
            <thead>
            <tr>
                <th scope="col" style="width: 10%"></th>
                <th scope="col" style="width: 25%">Recipe</th>
                <th scope="col" style="width: 25%">Prep Time</th>
                <th scope="col" style="width: 25%">View</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td>Tacos</td>
                <td>30 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Mac N' Cheese</td>
                <td>20 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Apple Pie</td>
                <td>60 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-recipes" role="tabpanel" aria-labelledby="nav-recipes-tab">
        <div class="tab-title">
            My Own Recipes
        </div>
        <table class="table table-striped table-hover mt-3" style="width: 70vw;">
            <thead>
            <tr>
                <th scope="col" style="width: 10%"></th>
                <th scope="col" style="width: 25%">Recipe</th>
                <th scope="col" style="width: 25%">Prep Time</th>
                <th scope="col" style="width: 25%">View</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row"></th>
                <td>Tacos</td>
                <td>30 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Mac N' Cheese</td>
                <td>20 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Apple Pie</td>
                <td>60 Minutes</td>
                <td>
                    <button type="button" class="btn btn-light btn-outline-dark view-button" th:onclick="location.href='/recipe-view'">View</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
        <div class="container text-center border py-4 my-5" style="background-color: #e3f2fd;">

            <div class="account-title">
                Account Information
            </div>

            <div class="form-group">
                <label class="my-3 my-label">Display Username
                    <input class="form-control" th:value="${myUsername}" readonly/>
                </label>
            </div>

            <form method="post" action="profile/change-username">
                <div class="form-group">
                    <label class="my-3 my-label">New Username
                        <input class="form-control" name="usernameInput"/>
                    </label>
                </div>
                <input type="submit" class="btn btn-outline-dark btn-light my-3" value="Change Username" />
            </form>
            <form method="post" action="profile/change-password">
                <div class="form-group">
                    <label class="my-3 my-label">Old Password
                        <input class="form-control" name="oldPasswordInput"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="my-3 my-label">New Password
                        <input class="form-control" name="newPasswordInput"/>
                    </label>
                </div>
                <div class="form-group">
                    <label class="my-3 my-label">Verify New Password
                        <input class="form-control" name="newPasswordVerify"/>
                    </label>
                </div>

                <input type="submit" class="btn btn-outline-dark btn-light my-3" value="Change Password" />
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">

    </div>
</div>
</div>

<footer>
    <!-- line breaks to bring footer to bottom; take out when page is filled in with content -->
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="https://icons8.com/icon/59878/search">Search icon by Icons8</a>
</footer>

</body>
</html>